.header {
  padding: 20px;

  background-color: var(--main-purple);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.nav-link {
  color: #fff;
  text-decoration: none;

  transition: .3s linear;
}

.nav-link:hover {
  transform: translateY(-3px);
}